body{
    overflow-x: hidden!important;
}
.text-blue{
    color: #083e9e;
  }
  .btn-submit{
    /* background: #000000; */
    color: #ffffff;
    /* border: 1px solid #ffff; */
    border-radius: 7px;
  }




#reg_main{
    /* background-image: url("../../assets/img/features.png"); */
    background-image: url("../../assets/img/reg_bg-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-clip: border-box;
    background-attachment: fixed;
    /* height: 100vh;
    width: 100vw; */

    
}

#reg_form_container{
    border-radius: 15px;
    background: rgba(0,0,0,0.4);
   
}


#reg_form input, select{
    outline: 0!important;
    border: none!important;
    box-shadow: none!important;
    background: #edf2f7;
    height: 45px;
    
}

.btn-submit:focus,
#reg_form input:focus, select:focus{
    outline: 0!important;
    border: none!important;
    box-shadow: none!important;
    
}



